body {
    padding: 3rem;
    font-size: 16px;
  }
  
  textarea {
    width: 100%;
    min-height: 30rem;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.8rem;
    line-height: 1.2;
  }

  .stuck {
    top: 10px;
    left: 10px;
    bottom: 10px;
    height: 280px;
    overflow-y: scroll;
}

.detailsTabscroll {
    overflow-y: scroll;
    height: 100%;
    max-height: 100vh;
    overflow-x: hidden;
}

.prePadding {
   overflow: initial !important;
}